.content{
    padding-top: 60px;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-login{
    text-align: center;
}
.head-login h1{
    color: #222325;
}
.head-login p{
    color: #3A354161;
    margin-top:-10px;
}
.login-wrapper{
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}
.form-login{
    width: 80%;
    margin: 0 auto;
}
.form-login form{
    display: flex;
    flex-direction: column;
    color: #333333AD;
    font-size: 14px;
}
.form-login label{
    margin-bottom: 5px;
    margin-top: 5px;
}
.form-login input{
    height: 2rem;
    margin-bottom: 10px;
    border: 1px solid rgb(226, 226, 226);
    padding-left: 10px;
}
.red-label{
    color: red !important;
}
.form-login a{
    text-decoration: none;
    color: #333333AD;
    margin-left: auto;
    margin-bottom: 15px;
}
.form-login button{
    border:none;
    border-radius: 5px;
    height: 2rem;
    font-weight: bold;
}
.masuk-button{
    background-color: #3ECF4C;
    color: white;
    cursor:pointer;
    margin-bottom: 10px;
}
.daftar-button{
    color:#3ECF4C;
    background-color: #E2FCD9CC;
    cursor: pointer;
    width: 100%;
}
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
}
.divider::before,
.divider::after{
    content:'';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 5px;
}
.divider span{
    font-weight:bold;
}
.sign-google{
    width: 100%;
    color: #FFFFFF;
    border: 1px solid #F1F1F1;
    color: #333333AD;
    font-weight: bold;
    margin-bottom: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .login-wrapper{
        width: 60%
    }
    
}